body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

svg {
    width: 65vw;
    height: 100vh;
    background-color: #77d8d8;
}

.info {
    width: 35vw;
    height: 100vh;
    background-color: #ddd;
}

.info > .title {
    text-align: center;
    font-size: 2em;
    margin: 0.5em;
}

.town {
    fill: #639a67;
    cursor: pointer;
}

.town:hover {
    fill: #666;
}

.boundary {
    fill: none;
    stroke: #fffd;
    stroke-width: 0.01em;
}
