body {
    margin: 0;
    background-color: #77d8d8;
}

.container {
    display: flex;
    flex-direction: row;
}

svg {
    width: 100vw;
    height: 100vh;
}

#info {
    position: fixed;
    right: 0;
    top: 0;
    max-width: 30vw;
    min-width: 20vw;
    height: 50vh;
    background-color: #ddda;
    border-radius: 0.5em;
    margin: 1em;
}

#info > .title {
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em;
}
